$primary-color : #008094;

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.otf") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Bold.otf") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold; }

html, body {
  height: auto;
}

body {
  font-family: Myriad Pro, Arial, "Myriad Pro", "Arial", "Helvetica", "Helvetica Neue", sans-serif;
  min-width: 1024px;
  font-weight: normal;
  color : #666666;
  background-color: #F5F5F5;
  font-size: 12px;
  overflow: hidden;
}
.md-button {
  text-transform: inherit ;
}